#root, html, body {
    height: 100vh;
}

body{
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../public/images/ai_3.jpg");
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
